In [14]:
#실습1

for i in range(10):
  print(i,end=' ')
print()
for i in range(0,51,5):
  print(i,end=' ')
print()
for i in range(10,0,-1):
  print(i,end=' ')
print()

0 1 2 3 4 5 6 7 8 9
0 5 10 15 20 25 30 35 40 45 50
10 9 8 7 6 5 4 3 2 1

In [19]:
#실습2

score=[]
for i in range(5):
  data=int(input('성적을 입력하시오:'))
  score.append(data)
print('입력한 성적들 :',score)

#max min sum len
print('최고성적 :' , max(score))
print('최저성적 :',min(score))
average=sum(score)/len(score)
print('평균성적 :',average)

성적을 입력하시오:10
성적을 입력하시오:20
성적을 입력하시오:30
성적을 입력하시오:40
성적을 입력하시오:50
입력한 성적들 : [10, 20, 30, 40, 50]
최고성적 : 50
최저성적 : 10
평균성적 : 30.0

In [26]:
#실습 3

score={1:[80,90,86],2:[78,88,85],3:[85,85,92],4:[70,69,65],5:[90,95,100]}
for key,value in score.items():
  average=sum(value)/len(value)
  print(key,'번:',average)

1 번: 85.33333333333333
2 번: 83.66666666666667
3 번: 87.33333333333333
4 번: 68.0
5 번: 95.0