In [6]:
#내장함수 : 파이썬안에서 제공하는 함수
dir(__builtins__) #<--내장함수
L=[1,3,5,7,9]
M=reversed(L)
print(M)
M=list(reversed(L))

<list_reverseiterator object at 0x7fb1b73d8790>

In [10]:
# def 함수명 (parameter):
def find_max(a,b):
  if a>b:
    y=a
  else:
    y=b
  return y 
m=find_max(10,20)
n=find_max(7,3)
print(m,n)

20 7

In [18]:
def calculate(kor,eng,math):
  total=kor+eng+math
  average=total/3
  return average
kor_score=int(input('국어성적은:'))
eng_score=int(input('영어성적은:'))
math_score=int(input('수학성적은:'))
avg=calculate(kor_score,eng_score,math_score)
print('평균:',avg)

국어성적은:90
영어성적은:85
수학성적은:83
평균: 86.0

In [23]:
def test():
  print(a)
a=100
print(a) #전역변수
test()
print(a)

100
100
100

In [27]:
def test():
  b=20
  print(a,b)
a=100 # 전역변수
print(a) 
test()
print(a)

100
100 20
100

In [30]:
def test():
  a=200 #지역변수
  print(a)
a=100
print(a)
test()
print(a)

100
200
100

In [32]:
def test():
  global a #지역변수를 전역변수로
  a=100
  print(a)
test()
print(a)

100
100

In [33]:
def test(a):
  a+=200
  print(a)
a=100
test(a)
print(a)

300
100

In [36]:
def test(M):
  M[2]+=2
  M[4]+=10
L=[90,80,95,85,77,83]
test(L)
print(L)

[90, 80, 97, 85, 87, 83]

In [40]:
def inc(a,step=1): #기본값(step=1)을 갖는 인수
  return a+step
b=inc(10)
print(b)
c=inc(10,50)
print(c)

11
60

In [44]:
def area(x,y):
  return x*y
a=area(10,5)
print(a)
b=area(x=4,y=9)
print(b)

50
36

In [50]:
def volumn(x,y,z): #키워드 인수 위치는 일반인수 뒤에
  return x*y*z
print(volumn(1,3,5))
print(volumn(y=7,x=2,z=6))
print(volumn(5,z=10,y=2))
print(volumn(5,x=2,z=20)) #오류 x자리에 이미 있기때문에

15
84
100

TypeError: ignored

In [53]:
def friends(*name): #*= 가변인수(몇개가 넘어올지 모름)
  for i in name:
    print(i.title())
friends('alice','paul')
print('------')
friends('cindy','sally','david','tom')

Alice
Paul
------
Cindy
Sally
David
Tom

In [55]:
def arg(a,b,*c):
  print(a,b,c)
  print(sum(c))
arg(10,20)
print('------')
arg(7,8,9)
print('-------')
arg(1,2,3,4,5)

10 20 ()
0
------
7 8 (9,)
9
-------
1 2 (3, 4, 5)
12

In [58]:
def name_age(**lists): #정해지지않은 키워드 사전형식으로 만들어짐
  print(lists)
name_age(Alice=10,Paul=12)
print('-----------------')
name_age(Cindy=5,David=7,Tom=10)

{'Alice': 10, 'Paul': 12}
-----------------
{'Cindy': 5, 'David': 7, 'Tom': 10}

In [59]:
#람다함수 : 이름없는 한줄짜리 함수, return문x, 함수를 함수인자로 넘길때
#lambda <인수>:<반환할식>
def add(x,y):
  return x+y
lambda x,y:x+y

In [61]:
names=['Alice','Paul','Bob','Robert']
A=map(len,names) #리스트names에대한 len을수행
print(A)
list(A)

<map object at 0x7fb1bb3af9d0>

[5, 4, 3, 6]

In [62]:
def f(x):
  return x*x
X=[1,2,3,4,5]
list(map(f,X)) #f에 X의값들을 하나씩 적용

[1, 4, 9, 16, 25]

In [68]:
X=[1,2,3,4,5]
Y=map(lambda a:a*a,X)
list(Y)

[1, 4, 9, 16, 25]

In [70]:
#range(10)의 원소를 x2+4x+5에 대입해라
Y=map(lambda x:x*x+4*x+5,range(10)) #range를 앞lambda에 넣어라
list(Y)

[5, 10, 17, 26, 37, 50, 65, 82, 101, 122]

In [73]:
#filter (함수명(참/거짓 반환하는 함수), 함수에대한 인수집합)
X=[1,3,5,7,9]
result=filter(lambda x:x>5,X)
list(result)

[7, 9]

In [75]:
list(filter(lambda x:x%2==1,range(11)))

[1, 3, 5, 7, 9]