In [1]:
# 리스트 or 튜플 대괄호[]사용함 리스트 or 튜플 대괄호[]사용함

In [2]:
#메소드 append(x) 데이터x를 리스트 끝에 추가 
#insert(i,x) : 인덱스 i에 데이터 x를 삽입

In [3]:
L=[1,4,7,8]
L.append(5)
print(L)

[1, 4, 7, 8, 5]

In [8]:
L.insert(2,10)
print(L)

[1, 4, 10, 10, 10, 10, 10, 7, 8, 5]

In [9]:
#리스트에서 데이터삭제 : pop() :맨 마지막 데이터 반환후 삭제
#pop(i) : 인덱스i에 있는 데이터를 반환후 삭제
#remove(x) : 리스트에서 데이터x를 삭제. 여러개가 있으면 맨앞 데이터 삭제

In [10]:
L=[1,2,3,4,5]
L.pop()

5

In [11]:
print(L)

[1, 2, 3, 4]

In [12]:
L.pop(2)

3

In [13]:
L=[4,2,5,3,2,7,1,2,5]
L.remove(7)

In [14]:
print(L)

[4, 2, 5, 3, 2, 1, 2, 5]

In [15]:
L.remove(2)

In [16]:
print(L)

[4, 5, 3, 2, 1, 2, 5]

In [18]:
#리스트에서 데이터 위치 찾기
#index(x) : 리스트에서 데이터x의 인덱스를 반환
#count(x) : 리스트에서 데이터 x의 개수를 반환
#리스트 비우기 : clear
A=[]
A.append('red')
A.append('yellow')
A.append('blue')
print(A)

['red', 'yellow', 'blue']

In [19]:
A.clear()

In [20]:
print(A)

[]

In [21]:
#리스트 복사 '='
L=[1,3,5,7,9]
M=L

In [22]:
M[2]

5

In [23]:
L[2]

5

In [25]:
#copy()
L=[1,3,5,7,9]
N=L.copy()
N[2]=100

In [26]:
print(L)

[1, 3, 5, 7, 9]

In [28]:
print(N)

[1, 3, 100, 7, 9]

In [30]:
#extend(M) 연결하기
L=[1,3,5]
M=[10,20]
L.extend(M)#L에 M을 연결
print(L)

[1, 3, 5, 10, 20]

In [33]:
#리스트 정렬 : sort() 오름차순으로 정렬
L=[3,5,1,4,2]
L.sort()
print(L)
L.sort(reverse=True) # 내림차순으로 정렬
print(L)

[1, 2, 3, 4, 5]
[5, 4, 3, 2, 1]

In [34]:
#리스트역순으로 : reverse()

In [35]:
#튜플은 ()를 사용 튜플은 immutable하다
T=(1,3,5,7,9)
M=(2,4,6,8)
print(T[2])

5

In [36]:
#튜플은 메소드가 2개 index(x), count(x)
#빈튜플 T=(), T=tuple() #원소가 하나인 경우 T=(1,) <- 콤마 필요 없을시 정수추급
a,b,c=1,2,3

In [37]:
(a,b,c)=(1,2,3)

In [38]:
a

1

In [39]:
#swap 연산
x=10
y=20
print(x,y)

10 20

In [40]:
x,y=y,x

In [41]:
print(x,y)

20 10