<a href="https://colab.research.google.com/github/InTaewoo/study/blob/main/%ED%8C%8C%EC%9D%B4%EC%8D%AC_300%EC%A0%9C/%ED%8C%8C%EC%9D%B4%EC%8D%AC_300%EC%A0%9C_(161~200).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
# 161
for i in range(100):
  print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [3]:
# 162
for i in range(2002,2050,4):
  print(i)

2002
2006
2010
2014
2018
2022
2026
2030
2034
2038
2042
2046

In [5]:
# 163
for i in range(3,31,3):
  print(i)

3
6
9
12
15
18
21
24
27
30

In [9]:
# 164
for i in range(99,-1,-1):
  print(i)

99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1
0

In [10]:
# 165
for i in range(10):
  print(f'0.{i}')

0.0
0.1
0.2
0.3
0.4
0.5
0.6
0.7
0.8
0.9

In [11]:
# 166
for i in range(1,10):
  print(f'3x{i} = {3*i}')

3x1 = 3
3x2 = 6
3x3 = 9
3x4 = 12
3x5 = 15
3x6 = 18
3x7 = 21
3x8 = 24
3x9 = 27

In [13]:
# 167
for i in range(1,10,2):
  print(f'3x{i} = {3*i}')

3x1 = 3
3x3 = 9
3x5 = 15
3x7 = 21
3x9 = 27

In [15]:
# 168
sum = 0
for i in range(1,11):
  sum += i
print(sum)

55

In [16]:
# 169
sum = 0
for i in range(1,11,2):
  sum += i
print(sum)

25

In [18]:
# 170
gop = 1
for i in range(1,11):
  gop *= i
print(gop)

3628800

In [23]:
# 171
price_list = [32100, 32150, 32000, 32500]
for i in range(4) :
  print(price_list[i])

32100
32150
32000
32500

In [24]:
# 172
for i in range(4):
  print(i,price_list[i])

0 32100
1 32150
2 32000
3 32500

In [29]:
# 173
price_list = [32100, 32150, 32000, 32500]
for i in range(3,-1):
  print(i,price_list[i])

In [40]:
# 174
price_list = [32100, 32150, 32000, 32500]
for i in range(len(price_list)-1):
  print(i*10+100, price_list[i+1])

100 32150
110 32000
120 32500

In [38]:
# 175
my_list = ["가", "나", "다", "라"]
for i in range(len(my_list)-1):
  print(my_list[i],my_list[i+1])

가 나
나 다
다 라

In [45]:
# 176
my_list = ["가", "나", "다", "라", "마"]
for i in range( 2, len(my_list) ):
    print(my_list[i-2], my_list[i-1], my_list[i])

가 나 다
나 다 라
다 라 마

In [46]:
# 177
my_list = ["가", "나", "다", "라"]
for i in range(len(my_list) - 1):
    print(my_list[len(my_list) - 1 - i], my_list[len(my_list) - 2 - i])

라 다
다 나
나 가

In [49]:
# 178
my_list = [100, 200, 400, 800]
for i in range(len(my_list)-1):
  print(my_list[i+1] - my_list[i])

100
200
400

In [63]:
# 179
my_list = [100, 200, 400, 800, 1000, 1300]
for i in range(1, len(my_list) - 1):
    print(abs(my_list[i-1] + my_list[i] + my_list[i+1]) / 3)

233.33333333333334
466.6666666666667
733.3333333333334
1033.3333333333333

In [67]:
# 180
low_prices  = [100, 200, 400, 800, 1000]
high_prices = [150, 300, 430, 880, 1000]
volatility = []
for i in range(len(low_prices)):
  volatility.append(high_prices[i] - low_prices[i])
print(volatility)

[50, 100, 30, 80, 0]

In [69]:
# 181
apart = [['101호','102호'],['201호','202호'],['301호','302호']]
apart

[['101호', '102호'], ['201호', '202호'], ['301호', '302호']]

In [71]:
# 182
stock = [['시가',100,200,300],['종가',80,210,330]]
stock

[['시가', 100, 200, 300], ['종가', 80, 210, 330]]

In [75]:
# 183
stock = {'시가':[100,200,300],'종가': [80,210,330]}
stock

{'시가': [100, 200, 300], '종가': [80, 210, 330]}

In [76]:
# 184
stock = {'10/10':[80,110,70,90],'10/11':[210,230,190,200]}
stock

{'10/10': [80, 110, 70, 90], '10/11': [210, 230, 190, 200]}

In [84]:
# 185
apart = [ [101, 102], [201, 202], [301, 302] ]

for i in apart :
  for j in i:
    print(j ,'호')

101 호
102 호
201 호
202 호
301 호
302 호

In [90]:
# 186
for i in apart[::-1] :
  for j in i :
    print(j, '호')

301 호
302 호
201 호
202 호
101 호
102 호

In [92]:
# 187
for i in apart[::-1]:
  for j in i[::-1]:
    print(j,'호')

302 호
301 호
202 호
201 호
102 호
101 호

In [94]:
# 188
for i in apart :
  for j in i :
    print(j,'호')
    print('-----')

101 호
-----
102 호
-----
201 호
-----
202 호
-----
301 호
-----
302 호
-----

In [105]:
# 189
for i in apart:
  for j in i :
    print(j, '호')
  print('-----')

101 호
102 호
-----
201 호
202 호
-----
301 호
302 호
-----

In [106]:
# 190
for i in apart:
  for j in i :
    print(j, '호')
print('-----')

101 호
102 호
201 호
202 호
301 호
302 호
-----

In [117]:
# 191
data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]
for i in data :
  for j in i :
    print(j +(j*0.014))

2028.0
3092.7
2078.7
2007.72
7605.0
2078.7
2078.7
2007.72
15666.3
15260.7
15767.7
15108.6

In [118]:
# 192
data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]
for i in data :
  for j in i :
    print(j +(j*0.014))
    print('----')

2028.0
----
3092.7
----
2078.7
----
2007.72
----
7605.0
----
2078.7
----
2078.7
----
2007.72
----
15666.3
----
15260.7
----
15767.7
----
15108.6
----

In [123]:
# 193
data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]
result = []
for i in data :
  for j in i :
    result.append(j +(j*0.014))
print(result)

[2028.0, 3092.7, 2078.7, 2007.72, 7605.0, 2078.7, 2078.7, 2007.72, 15666.3, 15260.7, 15767.7, 15108.6]

In [125]:
# 194
result = []
for line in data:
    sub = []
    for column in line:
        sub.append(column * 1.00014)
    result.append(sub)
print(result)

[[2000.28, 3050.427, 2050.2870000000003, 1980.2772], [7501.05, 2050.2870000000003, 2050.2870000000003, 1980.2772], [15452.163, 15052.107, 15552.177, 14902.086000000001]]

In [138]:
# 195
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]
for i in ohlc[1:] :
    print(i[3])

100
190
310

In [140]:
# 196
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]
for i in ohlc[1:] :
  if i[3] > 150 :
    print(i[3])

190
310

In [142]:
# 197
for i in ohlc[1:] :
  if i[3] >= i[0] :
    print(i[3])

100
310

In [146]:
# 198
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]
for i in ohlc[1:] :
  volatility = []
  volatility.append((max(i)-min(i)))
  print(volatility)

[40]
[30]
[10]

In [150]:
# 199
for i in ohlc[1:]:
  if i[3]-i[0] > 0 :
    print(i[3]-i[0])

10

In [167]:
# 200
for i in ohlc[1:]:
  hab = 0
  hab = hab + (i[3] - i[0])
  print(hab)

0
-10
10