<a href="https://colab.research.google.com/github/InTaewoo/study/blob/main/%ED%8C%8C%EC%9D%B4%EC%8D%AC_300%EC%A0%9C/%ED%8C%8C%EC%9D%B4%EC%8D%AC_300%EC%A0%9C_(261~275).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
# 261
class Stock :
  pass

In [32]:
# 262
class Stock :
  def __init__(self,name,code):
    self.name = name
    self.code = code
  
samsung = Stock('삼성전자','005930')
print(samsung.code)
print(samsung.name)

005930
삼성전자

In [10]:
# 263
class Stock :
  def __init__(self,name,code):
    self.name = name
    self.code = code
  
  def set_name(self,name):
    self.name = name
  
a = Stock(None,None)
print(a.set_name('삼성전자'))

None

In [15]:
# 264
class Stock :
  def __init__(self,name,code):
    self.name = name
    self.code = code

  def set_name(self,name):
    self.name = name

  def set_code(self,code):
    self.code = code

a = Stock(None,None)
print(a.set_code('005930'))

None

In [21]:
# 265
class Stock:
  def __init__(self,name,code):
    self.name = name
    self.code = code

  def set_name(self,code):
    self.name = name

  def set_code(self,code):
    self.code = code

  def get_name(self):
    return self.name

  def get_code(self):
    return self.code

samsung = Stock('삼성전자','005930')
print(samasung.name)
print(samasung.code)
print(samsung.get_name())
print(samsung.get_code())

삼성전자
005930
삼성전자
005930

In [22]:
# 266
class Stock:
  def __init__(self,name,code,per,pbr,배당수익률):
    self.name = name
    self.code = code
    self.per = per
    self.pbr = pbr
    self.배당수익률 = 배당수익률

  def set_name(self,code):
    self.name = name

  def set_code(self,code):
    self.code = code

  def get_name(self):
    return self.name

  def get_code(self):
    return self.code

In [23]:
# 267
samsung = Stock('삼성전자','005930','15.79','1.33','2.83')
print(samsung.pbr)

1.33

In [53]:
# 268
class Stock:
  def __init__(self,name,code,per,pbr,dividend):
    self.name = name
    self.code = code
    self.per = per
    self.pbr = pbr
    self.dividend = dividend

  def set_name(self,code):
    self.name = name

  def set_code(self,code):
    self.code = code

  def get_name(self):
    return self.name

  def get_code(self):
    return self.code

  def set_per(self,per):
    self.per = per

  def set_pbr(self,pbr):
    self.pbr = pbr

  def set_dividend(self,dividend):
    self.dividend = dividend

In [47]:
# 269
samsung = Stock('삼성전자','005930','15.79','1.33','2.83')
samsung.set_per('12.75')
print(samsung.per)

12.75

In [55]:
# 270
samsung = Stock('삼성전자','005930','15.79','1.33','2.83')
hyundai = Stock('현대차','005380','8.70','0.35','4.27')
lg = Stock('LG전자','066570','317.34','0.69','1.37')

list = []
list.append(samasung)
list.append(hyundai)
list.append(lg)

for i in list:
  print(i.code, i.name)

005930 삼성전자
005380 현대차
066570 LG전자

In [71]:
# 271
import random

class Account :
  def __init__(self,name,money):
    self.name = name
    self.money = money
    self.bank = 'SC은행'

    num1 = random.randint(0,999)
    num2 = random.randint(0,99)
    num3 = random.randint(0,999999)

    num1 = str(num1).zfill(3) # 1 -> 001
    num2 = str(num2).zfill(2) # 1 -> 01
    num3 = str(num3).zfill(6) # 1 -> 000001

    self.account_number = num1+'-'+num2+'-'+num3

kim = Account('김민수',100)
print(kim.name)
print(kim.money)
print(kim.bank)
print(kim.account_number)

김민수
100
SC은행
466-44-475732

In [74]:
# 272

import random

class Account :

  # class variable
  account_count = 0
  def __init__(self,name,money):
    self.name = name
    self.money = money
    self.bank = 'SC은행'

    num1 = random.randint(0,999)
    num2 = random.randint(0,99)
    num3 = random.randint(0,999999)

    num1 = str(num1).zfill(3) # 1 -> 001
    num2 = str(num2).zfill(2) # 1 -> 01
    num3 = str(num3).zfill(6) # 1 -> 000001

    self.account_number = num1+'-'+num2+'-'+num3

    Account.account_count += 1

kim = Account("김민수", 100)
print(Account.account_count)
lee = Account("이민수", 100)
print(Account.account_count)

1
2

In [75]:
# 273

import random

class Account :

  # class variable
  account_count = 0
  def __init__(self,name,money):
    self.name = name
    self.money = money
    self.bank = 'SC은행'

    num1 = random.randint(0,999)
    num2 = random.randint(0,99)
    num3 = random.randint(0,999999)

    num1 = str(num1).zfill(3) # 1 -> 001
    num2 = str(num2).zfill(2) # 1 -> 01
    num3 = str(num3).zfill(6) # 1 -> 000001

    self.account_number = num1+'-'+num2+'-'+num3

    Account.account_count += 1

  def get_account_num(cls) :
    print(cls.account_count)

kim = Account("김민수", 100)
lee = Account("이민수", 100)
kim.get_account_num()

2

In [76]:
# 274

import random

class Account :

  # class variable
  account_count = 0
  def __init__(self,name,money):
    self.name = name
    self.money = money
    self.bank = 'SC은행'

    num1 = random.randint(0,999)
    num2 = random.randint(0,99)
    num3 = random.randint(0,999999)

    num1 = str(num1).zfill(3) # 1 -> 001
    num2 = str(num2).zfill(2) # 1 -> 01
    num3 = str(num3).zfill(6) # 1 -> 000001

    self.account_number = num1+'-'+num2+'-'+num3

    Account.account_count += 1

  def get_account_num(cls) :
    print(cls.account_count)

  def deposit(self,amount) :
    if amount >= 1:
      self.money += amount

In [78]:
# 275

import random

class Account :

  # class variable
  account_count = 0
  def __init__(self,name,money):
    self.name = name
    self.money = money
    self.bank = 'SC은행'

    num1 = random.randint(0,999)
    num2 = random.randint(0,99)
    num3 = random.randint(0,999999)

    num1 = str(num1).zfill(3) # 1 -> 001
    num2 = str(num2).zfill(2) # 1 -> 01
    num3 = str(num3).zfill(6) # 1 -> 000001

    self.account_number = num1+'-'+num2+'-'+num3

    Account.account_count += 1

  def get_account_num(cls) :
    print(cls.account_count)

  def deposit(self,amount) :
    if amount >= 1:
      self.money += amount

  def withdraw(self,amount):
    if self.money > amount :
      self.money -= amount

k = Account("kim", 100)
k.deposit(100)
k.withdraw(90)
print(k.money)

110