<a href="https://colab.research.google.com/github/InTaewoo/study/blob/main/%ED%8C%8C%EC%9D%B4%EC%8D%AC_300%EC%A0%9C/%ED%8C%8C%EC%9D%B4%EC%8D%AC_300%EC%A0%9C_(231~260).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
# 231
def n_plus_1(n):
  result = n + 1
  
n_plus_1(3)
print(result)

# 함수 내부에서 사용한 변수는 함수 밖에서는 접근이 불가능

4

In [8]:
# 232
def make_url(site):
  url = 'www.'+site+'.com'
  return url
make_url('naver')

'www.naver.com'

In [13]:
# 233
def make_list(word):
  new_list = []
  for i in word:
    new_list.append(i)
  return new_list
make_list('abcd')

['a', 'b', 'c', 'd']

In [16]:
# 234
def pickup_even(count):
  new_count = []
  for i in count :
    if i % 2 == 0 :
      new_count.append(i)
  return new_count

pickup_even([3,4,5,6,7,8,9])

[4, 6, 8]

In [24]:
# 235
def convert_int(count):
  return int(count.replace(',',''))
 
convert_int('1,234,578')

1234578

In [25]:
# 236
def 함수(num):
  return num + 4

a = 함수(10)
b = 함수(a)
c = 함수(b)
print(c)

22

In [26]:
# 237
def 함수(num):
  return num+4

c = 함수(함수(10))
print(c)

18

In [27]:
# 238
def fun1(num) :
  return num + 4

def fun2(num) :
  return num * 10

a = fun1(10)
c = fun2(a)
print(c)

140

In [28]:
# 239
def fun1(num):
  return num+4

def fun2(num):
  num = num+2
  return fun1(num)

c = fun2(10)
print(c)

16

In [29]:
# 240
def fun0(num):
  return num*2

def fun1(num):
  return fun0(num+2)

def fun2(num):
  num = num + 10
  return fun1(num)

c = fun2(2)
print(c)

28

In [34]:
# 241 현재시간
import datetime
date = datetime.datetime.now()
date

datetime.datetime(2021, 11, 10, 2, 11, 5, 537195)

In [36]:
# 242
def time():
  return datetime.datetime.now()

time()

datetime.datetime(2021, 11, 10, 2, 12, 24, 727974)

In [39]:
# 243
import datetime

now = datetime.datetime.now()

for day in range(5, 0, -1):
    delta = datetime.timedelta(days=day)
    date = now - delta
    print(date)

2021-11-05 02:21:51.054791
2021-11-06 02:21:51.054791
2021-11-07 02:21:51.054791
2021-11-08 02:21:51.054791
2021-11-09 02:21:51.054791

In [42]:
# 244
import datetime
now = datetime.datetime.now()
now.strftime('%H:%M:%S')

'02:25:45'

In [47]:
# 245
day = '2020-05-04'
ret = datetime.datetime.strptime(day,'%Y-%m-%d')
print(ret,type(ret))

2020-05-04 00:00:00 <class 'datetime.datetime'>

In [50]:
# 246
import time
import datetime

while True :
  now = datetime.datetime.now()
  print(now)
  time.sleep(1)

2021-11-10 04:03:12.010488
2021-11-10 04:03:13.013361
2021-11-10 04:03:14.014769
2021-11-10 04:03:15.016099
2021-11-10 04:03:16.017456
2021-11-10 04:03:17.018822
2021-11-10 04:03:18.020117

KeyboardInterrupt: ignored

In [51]:
# 247
# import 
# from ~ import ~

In [52]:
# 248 작업 경로
import os
ret = os.getcwd()
print(ret, type(ret))

/content <class 'str'>

In [57]:
# 249
import os
os.rename('C:\Users\DS\Desktop/hello.txt', 'C:\Users\DS\Desktop/practice.txt')

SyntaxError: ignored

In [64]:
# 250
import numpy as np
np.arange(0,5,0.1)

array([0. , 0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9, 1. , 1.1, 1.2,
       1.3, 1.4, 1.5, 1.6, 1.7, 1.8, 1.9, 2. , 2.1, 2.2, 2.3, 2.4, 2.5,
       2.6, 2.7, 2.8, 2.9, 3. , 3.1, 3.2, 3.3, 3.4, 3.5, 3.6, 3.7, 3.8,
       3.9, 4. , 4.1, 4.2, 4.3, 4.4, 4.5, 4.6, 4.7, 4.8, 4.9])

In [65]:
# 251
# 클래스, 객체, 인스턴스

In [66]:
# 252
class Human :
  pass

In [69]:
# 253
class Human :
  pass

areum = Human()

In [77]:
# 254
class Human :
  def __init__(self):
    print("응애응애")

areum = Human()

응애응애

In [74]:
class MyStatus: 
  def __init__(self,age,name,height,weight): 
    self.age = age 
    self.name = name 
    self.height = height 
    self.weight = weight 
  def print_name(self): 
    print(self.name) 
  def print_age(self): 
    print(self.age) 
  def print_height(self): 
    print(self.height) 
  def print_weight(self): 
    print(self.weight) 
a = MyStatus(34,"yamada",170,78)
print(a)

<__main__.MyStatus object at 0x7f7a106edbd0>

In [81]:
# 255
class Human :
  def __init__(self,name,age,sex):
    self.name = name
    self.age = age
    self.sex = sex

areum = Human('아름',25,'여자')
print(areum.age)

25

In [83]:
# 256
class Human :
  def __init__(self,name,age,sex):
    self.name = name
    self.age = age
    self.sex = sex
  areum = Human('아름',25,'여자')
  print(areum.age)

25

In [87]:
# 257
class Human :
  def __init__(self,name,age,sex):
    self.name = name
    self.age = age
    self.sex = sex

  def who(self) :
    print(f'이름: {self.name}, 나이: {self.age}, 성별: {self.sex}')

areum = Human('아름',25,'여자')
areum.who()

이름: 아름, 나이: 25, 성별: 여자

In [94]:
# 258
class Human :
  def __init__(self,name,age,sex):
    self.name = name
    self.age = age
    self.sex = sex

  def who(self):
    print(f'이름: {self.name}, 나이: {self.age}, 성별: {self.sex}')

  def setInfo(self,name,age,sex):
    self.name = name
    self.age = age
    self.sex = sex

areum = Human("모름", 0, "모름")
areum.setInfo('아름',25,'여자')
areum.who()

이름: 아름, 나이: 25, 성별: 여자

In [97]:
# 259
class Human :
  def __init__(self,name,age,sex):
    self.name = name
    self.age = age
    self.sex = sex

  def __del__(self):
    print('나의 죽음을 알리지 마라')

  def who(self):
    print(f'이름: {self.name}, 나이: {self.age}, 성별: {self.sex}')

  def setInfo(self,name,age,sex):
    self.name = name
    self.age = age
    self.sex = sex
areum = Human('아름','25','여자')
del(areum)

나의 죽음을 알리지 마라

In [99]:
# 260
class OMG : 
    def print() :
        print("Oh my god")
        
myStock = OMG()
myStock.print()

TypeError: ignored