<a href="https://colab.research.google.com/github/InTaewoo/study/blob/main/%ED%8C%8C%EC%9D%B4%EC%8D%AC_300%EC%A0%9C/%ED%8C%8C%EC%9D%B4%EC%8D%AC_300%EC%A0%9C_(101~130).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# 101
# 불리안타입

In [2]:
# 102
print(3==5)
#False

False

In [3]:
# 103
print( 3 < 5)
# True

True

In [4]:
# 104
x = 4
print(1 < x < 5)
# True

True

In [5]:
# 105
print ((3 == 3) and (4 != 3))
# True

True

In [6]:
# 106
# print(3 => 4)
# 지원하지 않는 연산자이다

SyntaxError: ignored

In [8]:
# 107
if 4 < 3:
    print("Hello World")
# 결과 출력 X

In [9]:
# 108
if 4 < 3:
    print("Hello World.")
else:
    print("Hi, there.")
# 조건에 만족하지 않기 때문에 Hi, there 출력

Hi, there.

In [10]:
# 109
if True :
    print ("1")
    print ("2")
else :
    print("3")
print("4")

1
2
4

In [11]:
# 110
if True :
    if False:
        print("1")
        print("2")
    else:
        print("3")
else :
    print("4")
print("5")

3
5

In [13]:
# 111
print('안녕하세요'*2)

안녕하세요안녕하세요

In [15]:
# 112
num = int(input('숫자를 입력하세요 :'))
print(num +10)

숫자를 입력하세요 :30
40

In [18]:
# 113
num = int(input())
if num % 2 == 0:
  print('짝수')
else :
  print('홀수')

15
홀수

In [20]:
# 114
num = int(input('입력값 :'))
if num + 20 > 255:
  print('출력값 : ',255)
else :
  print('출력값 :',num + 20)

입력값 :240
출력값 :  255

In [21]:
# 115
num = int(input('입력값 : '))
if num < 0 :
  print('출력값: '0)
elif num > 255:
  print('출력값: '255)
else : 
  print(num-20)

입력값 : 200
180

In [29]:
# 116
time = input('현재시간: ')
if time[-2:] == '00':
  print('정각 입니다')
else :
  print('정각이 아닙니다')

현재시간: 24:00
정각 입니다

In [32]:
# 117
fruit = ["사과", "포도", "홍시"]
ques = input('좋아하는 과일은?')
if ques in fruit :
  print('정답입니다')
else :
  print('오답입니다.')

좋아하는 과일은?바나나
오답입니다.

In [34]:
# 118
warn_investment_list = ["Microsoft", "Google", "Naver", "Kakao", "SAMSUNG", "LG"]
ques = input('종목명 :')
if ques in warn_investment_list:
  print('투자 경고 종목입니다')
else :
  print('투자 경고 종목이 아닙니다')

종목명 :Naver
투자 경고 종목입니다

In [36]:
# 119
fruit = {"봄" : "딸기", "여름" : "토마토", "가을" : "사과"}
season = input('제가 좋아하는 계절은 : ')
if season in fruit.keys() :
  print('정답입니다')
else :
  print('오답입니다')

제가 좋아하는 계절은 : 겨울
오답입니다

In [39]:
# 120
fruit = {"봄" : "딸기", "여름" : "토마토", "가을" : "사과"}
season = input('제가 좋아하는 과일은 : ')
if season in fruit.values() :
  print('정답입니다')
else :
  print('오답입니다')

제가 좋아하는 과일은 : 한라봉
오답입니다

In [42]:
# 121
word = input('')
if word.islower():
  print(word.upper())
else:
  print(word.lower())

A
a

In [45]:
# 122
score = int(input('scroe: '))
if score > 80 :
  print('grade is A')
elif score > 60 and score < 81:
  print('grade is B')
elif score >40 and score <61:
  print('grade is C')
elif score > 20 and score > 41 :
  print('grade is D')
else :
  print('grade is E')

scroe: 6
grade is E

In [46]:
# 122 (1)
score = input("score: ")
score = int(score)
if 81 <= score <= 100:
    print("grade is A")
elif 61 <= score <= 80:
    print("grade is B")
elif 41 <= score <= 60:
    print("grade is C")
elif 21 <= score <= 40:
    print("grade is D")
else:
    print("grade is E")

score: 60
grade is C

In [71]:
# 123
money = input('')
money_per =int(money.split()[0])
currency = money.split()[1]

if currency == '달러':
  print('{0:.2f} 원'.format(money_per*1167))
elif currency == '엔':
  print('{0:.2f} 원'.format(money_per*1.096))
elif currency == '유로':
  print('{0:.2f} 원'.format(money_per*171))
else : 
  print('{0:.2f} 원'.format(money_per*171))

4291 달러
5007597.00 원

In [72]:
# 123(1)

환율 = {"달러": 1167, 
        "엔": 1.096, 
        "유로": 1268, 
        "위안": 171}
user = input("입력: ")
num, currency = user.split()
print(float(num) * 환율[currency], "원")

입력: 100 달러
116700.0 원

In [75]:
# 124
a = int(input('number1 :'))
b = int(input('number2 :'))
c = int(input('number2 :'))
print(max(a,b,c))

number1 :50
number2 :492
number2 :191
492

In [92]:
# 125
phone_num=input('휴대폰 번호 입력')
dic = {'011':'SKT','016':'KT','019':'LGU','010':'알수없음'}
if phone_num.split('-')[0] == '011':
  print('당신은 {0} 사용자 입니다.'.format(dic['011']))
elif phone_num.split('-')[0] == '016':
  print('당신은 {0} 사용자 입니다.'.format(dic['016']))
elif phone_num.split('-')[0] == '019':
  print('당신은 {0} 사용자 입니다.'.format(dic['019']))
else :
  print('알수 없음')

휴대폰 번호 입력010-383-9391
알수 없음

In [100]:
# 126
num = input('우편번호: ')
if num[:3] in['010','011','012']:
  print('강북구')
elif num[:3] in ['013','014','015']:
  print('도봉구')
else :
  print('노원구')

우편번호: 01940
노원구

In [102]:
# 127
num = input('주민등록번호: ')
if num[7] in ['1','3']:
  print('남자')
else :
  print('여자')

주민등록번호: 949104-203103
여자

In [112]:
# 128
num = input('주민등록번호: ')
뒷자리 = num.split('-')[1]
if 0 < int(뒷자리[1:2]) < 9:
  print('서울이 아닙니다.')
else :
  print('서울 입니다')

주민등록번호: 861010-1015210
서울 입니다

In [135]:
# 129
num = input('주민등록번호 : ')
last_num= (int(num[0])*2 + int(num[1])*3 + int(num[2])*4 + int(num[3])*5 + int(num[4])*6 + int(num[5])*7 + int(num[7])*8 + int(num[8])*9 + int(num[9]) * 2+ int(num[10])*3 + int(num[11])*4 + int(num[12])*5) % 11
last = 11 - last_num
if num[-1] == last :
  print('유효한 주민등록번호입니다')
else :
  print('유효하지 않은 주민등록번호입니다')

주민등록번호 : 821010-1635210
유효하지 않은 주민등록번호입니다

In [145]:
# 130
import requests
btc = requests.get("https://api.bithumb.com/public/ticker/").json()['data']
시가 = float(btc['opening_price'])
변동폭 = float(btc['max_price'])-float(btc['min_price'])
최고가 = float(btc['max_price'])

if ( 시가 + 변동폭 ) > 최고가:
  print('상승장')
else :
  print('하락장')

상승장